body{
    margin: 0px;
    background-color: rgb(230, 224, 226);
}
nav{
    background-color: #f5dee9;
}
.col1{
    background-color: rgb(230, 224, 226);
}
.image{
    height: 160px;
    width:15%;
    /* margin-left: 50px;
    margin-right: -362px; */
}
.contact{
    background-color: rgb(245, 221, 227);
}

